/* Necessary for alignment of labels with input fields */
.filter-area label, .filter-area input {
  display: inline-block;
}
.filter-area label {
  width: 120px;
}

h1 {
	font-family: sans-serif;
}

#headline {
	font-size: 2em;
	font-family: sans-serif;
	font-weight: bold;
	white-space: nowrap;
	overflow: visible;
}

#headline img {
	vertical-align: middle;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

body {
	font-family: sans-serif;
	background: #000;
	color: Silver;
}

img.thumb {
	width: 256px;
}

#intro {
    width: 350px;
    padding: 5px;
    position: relative;
}
#intro img {
	position: absolute;
	top: 50%;
	margin-top: -112px;  /* = image height div 2 */
	vertical-align: top;
	width: 120px;
}
#intro span {
    margin-left: 128px;  /* = image width + 8 */
    display: block;    
}

span#license {
	font-size: 0.75em;
}

#images {
	margin-top: 50px;
	padding: 10px;
	border: 1px solid Silver;
}
#images img {
	vertical-align: middle;
	margin: 10px;
}

a:link { font-weight:normal; color:DarkRed; text-decoration:none; }
a:visited { font-weight:normal; color:Maroon; text-decoration:none; }
a:focus { font-weight:normal; color:FireBrick; text-decoration:underline; }
a:hover { font-weight:normal; color:FireBrick; text-decoration:none; }
a:active { font-weight:normal; color:Crimson; text-decoration:underline; }